#basestyle{
    background-color: deepskyblue; 
    color: gold; 
    border-style: inset; 
    border-width:2.5px; 
    border-radius: 10px; 
    font-size: 20px; 
    display: inline-block; 
    padding: 3px;
}

#longfont{
    display: inline; 
    font-weight: normal; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
}

#dashboard{
    font-weight: normal;
    font-size:18px;
    color:azure;
    display:inline-block;
    border-width:50px;
    padding:10px;
    background-color: black;

}

#tablepadding{
    padding:3.5px;
}

#bigsign{
    background-color:#008b8b; 
    color:greenyellow;
    border-style: inset; 
    border-width:20px; 
    font-family:fantasy;
    padding-top: 10px; 
    padding-right: 13px;
}

#lessimportantdashboard {
    font-weight: normal;
    font-size:18px;
    color:chartreuse;
    display:inline-block;
    border-width:50px;
    padding:10px;
    background-color:cornflowerblue;
    float:left;
}


.thborder th{
    border:solid 5px rgb(48, 126, 199);
    color: greenyellow;
    background-color:rgb(48,126,199);

}

.lukas th{
    border:solid 2px red;
    background-color:rgb(48,126,199);
    color:aqua
}

.lucas th{
    border:dotted 3px green;
    background-color:red;
    color:yellow;
    text-align: center;
}